nav {
    width: 100vw;
    height: 8vh;
    background-color: lightgrey;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    margin: 0 1rem;
}

.pastille {
    color : chocolate
 }
