.content {
    width: 80vw;
    margin : auto
}

.card-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.card {
    padding: 1rem 0;
    background-color: lightgray;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}